@import 'style.sass'
.seccion
    padding: 5px
    padding-left: 50px
    padding-right: 50px
    border-radius: 20px
    margin: 10px
    font-family: "MontRegular"
    color: white
    text-align: center
    
.air 
    background: $airColor

.earth
    background-color: $brown

.sea 
    background-color: $seaColor
//animacion 1 agrega delay a la carga del contenido
.container 
    margin-left: 10%
    margin-right: 10%
    animation: 1s loading

.content
    animation: 2s loading

@keyframes loading
    0%
        opacity: 0
    100%
        opacity: 1
        


//Imagenes y tarjetas redondas
.is-rounded
    border-radius: 20px

.is-top-rounded
    border-top-left-radius: 20px
    border-top-right-radius: 20px

//hover images
//2 transiciones y 1 transform
.card 
    transition: .7s transform
.card:hover
    cursor: pointer
    transform: scale(1.05)

.card:hover .card-image
    opacity: .5
    transition: 1s opacity
    
.card:not(hover) .card-image
    opacity: 1
    transition: 2s opacity
    
.volver
    margin-left: 90%
    margin-top: -20px

.volver:hover
    cursor: pointer

@media (min-width:768px)
    .container 
        margin-left: 0%
        margin-right: 20%

.logo-contact
    font-size: 35px

#faq
    animation: 1s coloring infinite
//Animacion 05 resalta las FAQ
    //transform 2 hace texto grande
        //transform 3 hace texto peque;o
@keyframes coloring
    0%
        color: $airColor
        transform: scale(1.2)
    50%
        color: $brown

    100%
        color: $titleColor
        transform: scale(.5)
        
@media only screen and (min-width: 768px)
    .seccion
        padding: 10px
        border-radius: 20px
        margin: 20px
        font-family: "MontRegular"
        color: white

    .container 
        margin-left: 25%
        margin-right: 25%

    .volver
        margin-left: 120%

    .logo-contact
        font-size: 45px