@import 'style.sass'
.seccion
    padding: 5px
    padding-left: 50px
    padding-right: 50px
    border-radius: 20px
    margin: 10px
    font-family: "MontRegular"
    color: white
    text-align: center
    
.air 
    background: $airColor

.earth
    background-color: $brown

.sea 
    background-color: $seaColor

.container 
    margin-left: 10%
    margin-right: 10%


//Imagenes y tarjetas redondas
.is-rounded
    border-radius: 20px

.is-top-rounded
    border-top-left-radius: 20px
    border-top-right-radius: 20px

//hover images
.card:hover
    cursor: pointer

.volver
    margin-left: 90%
    margin-top: -20px

.volver:hover
    cursor: pointer

@media (min-width:768px)
    .container 
        margin-left: 0%
        margin-right: 20%

.logo-contact
    font-size: 35px

@media only screen and (min-width: 768px)
    .seccion
        padding: 10px
        border-radius: 20px
        margin: 20px
        font-family: "MontRegular"
        color: white

    .container 
        margin-left: 25%
        margin-right: 25%

    .volver
        margin-left: 120%

    .logo-contact
        font-size: 45px