@font-face {
  font-family: "Hansief";
  src: url("/fonts/Hansief.otf");
  src: url("/fonts/hansief-webfont.woff2") format("woff2");
  src: url("/fonts/hansief-webfont.woff") format("woff");
}

@font-face {
  font-family: "MontRegular";
  src: url("/fonts/Montserrat-Regular.otf");
}

@font-face {
  font-family: "MontBold";
  src: url("/fonts/Montserrat-Bold.otf");
}

#logo {
  font-family: "Hansief";
  font-size: 25px;
  color: #B35C59;
}

.contenedor > .hero > h1 {
  font-family: "MontBold";
  color: #FF9D9A;
  font-size: 18px;
}

.container {
  color: #FF9D9A;
  margin-top: 20%;
}

.contenedor {
  margin-left: 10%;
  margin-right: 10%;
}

body {
  font-family: "MontRegular" !important;
  height: 100vh;
}

.categorias {
  font-family: "MontRegular";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cat {
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

@-webkit-keyframes notice-me {
  100% {
    background-color: #FF9D9A;
  }
}

@keyframes notice-me {
  100% {
    background-color: #FF9D9A;
  }
}

.cat:hover {
  cursor: pointer;
  background-color: #FF9D9A;
}

.aereo {
  background: #568CB8;
  -webkit-animation: .3s notice-me;
          animation: .3s notice-me;
}

.terrestre {
  background: #B35C59;
  -webkit-animation: .6s notice-me;
          animation: .6s notice-me;
}

.maritimo {
  background: #7DC5FF;
  -webkit-animation: 8s notice-me;
          animation: 8s notice-me;
}

.grid {
  height: 100vh;
}

.grid > .item-pc {
  display: none;
}

.navbar-start > .perfil img {
  border-radius: 70%;
  margin-left: 9%;
}

@media only screen and (min-width: 768px) {
  .contenedor > .hero h1 {
    font-family: "MontBold";
    font-size: 23px;
  }
  .contenedor > .hero h1:hover {
    cursor: pointer;
  }
  .contenedor {
    margin-left: 5%;
    margin-right: 5%;
  }
  .container {
    font-family: "MontRegular";
    margin-top: 5%;
    font-size: 23px;
  }
  .navbar {
    display: none;
  }
  .categorias {
    margin-top: 10%;
    font-size: 20px;
  }
  .grid > .item-pc {
    display: block;
    background-color: white;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 1fr;
        grid-template-columns: 25% 1fr;
  }
  .item-pc {
    -webkit-box-shadow: 0px 0px 10px #888888;
            box-shadow: 0px 0px 10px #888888;
  }
  .menu > ul > li {
    padding: 1em 0em 1em 2em;
  }
  .menu > ul > li:hover {
    color: black;
  }
  .menu > ul > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu > ul > li > .activo {
    background: #568CB8;
    padding-left: 1em;
    padding-right: .5em;
    margin: 5px;
    font-weight: bold;
  }
  .menu > ul > li {
    margin: -5px;
  }
  .menu > ul > li:hover {
    cursor: pointer;
    background-color: #fafafa;
  }
  .menu > ul > li:hover div {
    background: #568CB8;
    padding-left: 1em;
    padding-right: .5em;
    margin: 5px;
    width: 25px;
    cursor: pointer;
    -webkit-transition: margin .5s;
    transition: margin .5s;
  }
  .item-pc > h1 {
    font-family: "MontBold";
    font-size: 23px;
    text-align: center;
    margin-top: 15%;
  }
  .item-pc > h1 > a {
    color: #B35C59;
  }
  .item-pc > .menu > .perfil > img {
    border-radius: 70%;
    margin-left: 9%;
  }
  .item-pc > .menu > .perfil {
    diplay: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item-pc > .menu > .perfil > span {
    margin-left: 10%;
    padding-top: -20px;
  }
}

.seccion {
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  margin: 10px;
  font-family: "MontRegular";
  color: white;
  text-align: center;
}

.air {
  background: #568CB8;
}

.earth {
  background-color: #B35C59;
}

.sea {
  background-color: #7DC5FF;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  -webkit-animation: 1s loading;
          animation: 1s loading;
}

.content {
  -webkit-animation: 2s loading;
          animation: 2s loading;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.is-rounded {
  border-radius: 20px;
}

.is-top-rounded {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card {
  -webkit-transition: .7s transform;
  transition: .7s transform;
}

.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card:hover .card-image {
  opacity: .5;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.card:not(hover) .card-image {
  opacity: 1;
  -webkit-transition: 2s opacity;
  transition: 2s opacity;
}

.volver {
  margin-left: 90%;
  margin-top: -20px;
}

.volver:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    margin-left: 0%;
    margin-right: 20%;
  }
}

.logo-contact {
  font-size: 35px;
}

#faq {
  -webkit-animation: 1s coloring infinite;
          animation: 1s coloring infinite;
}

@-webkit-keyframes coloring {
  0% {
    color: #568CB8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    color: #B35C59;
  }
  100% {
    color: #FF9D9A;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes coloring {
  0% {
    color: #568CB8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    color: #B35C59;
  }
  100% {
    color: #FF9D9A;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media only screen and (min-width: 768px) {
  .seccion {
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    font-family: "MontRegular";
    color: white;
  }
  .container {
    margin-left: 25%;
    margin-right: 25%;
  }
  .volver {
    margin-left: 120%;
  }
  .logo-contact {
    font-size: 45px;
  }
}
/*# sourceMappingURL=seccion.css.map */