@font-face {
  font-family: "Hansief";
  src: url("./fonts/Hansief.otf");
  src: url("./fonts/hansief-webfont.woff2") format("woff2");
  src: url("./fonts/hansief-webfont.woff") format("woff");
}
@font-face {
  font-family: "MontRegular";
  src: url("./fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: "MontBold";
  src: url("./fonts/Montserrat-Bold.otf");
}
#logo {
  font-family: "Hansief";
  font-size: 25px;
  color: #B35C59;
}

.contenedor > .hero > h1 {
  font-family: "MontBold";
  color: #FF9D9A;
  font-size: 18px;
}

.container {
  color: #FF9D9A;
  margin-top: 20%;
}

.contenedor {
  margin-left: 10%;
  margin-right: 10%;
}

body {
  font-family: "MontRegular" !important;
  height: 100vh;
}

.categorias {
  font-family: "MontRegular";
  color: white;
  display: flex;
  margin-top: 20%;
  justify-content: center;
  flex-direction: column;
}

.cat {
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

@keyframes notice-me {
  100% {
    background-color: #FF9D9A;
  }
}
.cat:hover {
  cursor: pointer;
  background-color: #FF9D9A;
}

.aereo {
  background: #568CB8;
  animation: 0.3s notice-me;
}

.terrestre {
  background: #B35C59;
  animation: 0.6s notice-me;
}

.maritimo {
  background: #7DC5FF;
  animation: 0.8s notice-me;
}

.grid {
  height: 100vh;
}

.grid > .item-pc {
  display: none;
}

.navbar-start > .perfil img {
  border-radius: 70%;
  margin-left: 9%;
}

@media only screen and (min-width: 768px) {
  .contenedor > .hero h1 {
    font-family: "MontBold";
    font-size: 23px;
  }

  .contenedor > .hero h1:hover {
    cursor: pointer;
  }

  .contenedor {
    margin-left: 5%;
    margin-right: 5%;
  }

  .container {
    font-family: "MontRegular";
    margin-top: 5%;
    font-size: 23px;
  }

  .navbar {
    display: none;
  }

  .categorias {
    margin-top: 10%;
    font-size: 20px;
  }

  .grid > .item-pc {
    display: block;
    background-color: white;
  }

  .grid {
    display: grid;
    grid-template-columns: 25% 1fr;
  }

  .item-pc {
    box-shadow: 0px 0px 10px #888888;
  }

  .menu > ul > li {
    padding: 1em 0em 1em 2em;
  }

  .menu > ul > li:hover {
    color: black;
  }

  .menu > ul > li {
    display: flex;
  }

  .menu > ul > li > .activo {
    background: #568CB8;
    padding-left: 1em;
    padding-right: 0.5em;
    margin: 5px;
    font-weight: bold;
  }

  .menu > ul > li {
    margin: -5px;
  }

  .menu > ul > li:hover {
    cursor: pointer;
    background-color: #fafafa;
  }

  .menu > ul > li:hover div {
    background: #568CB8;
    padding-left: 1em;
    padding-right: 0.5em;
    margin: 5px;
    width: 25px;
    cursor: pointer;
    transition: margin 0.5s;
  }

  .item-pc > h1 {
    font-family: "MontBold";
    font-size: 23px;
    text-align: center;
    margin-top: 15%;
  }

  .item-pc > h1 > a {
    color: #B35C59;
  }

  .item-pc > .menu > .perfil > img {
    border-radius: 70%;
    margin-left: 9%;
  }

  .item-pc > .menu > .perfil {
    diplay: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .item-pc > .menu > .perfil > span {
    margin-left: 10%;
    padding-top: -20px;
  }
}

/*# sourceMappingURL=style.css.map */
